body {
	display: flex;
	align-items: center;
}

#chat {
	background-image: linear-gradient(#FFA39C, #B35149);
	width: 50%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	border: none;
	transition: 0.5s;
	z-index: 1;
	font-size: 50px;
	font-family: monospace;
	color: white;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	padding-top: calc(50% - 1em);
}
#games {
	background-image: linear-gradient(#B5FFD5, #9BFFC6);
	width: 50%;
	height: 100%;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	border: none;
	transition: 0.5s;
	z-index: 1;
	font-size: 50px;
	font-family: monospace;
	color: white;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	padding-top: calc(50% - 1em);
}
#games:hover {
	font-size: 70px;
	cursor: pointer;
	z-index: 3;
	filter: contrast(150%);
}
#chat:hover {
	font-size: 70px;
	cursor: pointer;
	z-index: 3;
	filter: contrast(150%);
}